In [0]:
file_location = "dbfs:/FileStore/shared_uploads/cavrudy@gmail.com/survey_responses-1.csv"
file_location2 = "dbfs:/FileStore/shared_uploads/cavrudy@gmail.com/conversion2dollar.csv"
file_type = "csv"

infer_schema = "true"
first_row_is_header = "true"
delimiter = ","

In [0]:
from pyspark.sql.types import IntegerType
import pyspark.sql.functions as f

#1. Create the DataFrames
responsesDF  = spark.read.format(file_type) \
  .option("inferSchema", infer_schema) \
  .option("header", first_row_is_header) \
  .option("sep", delimiter) \
  .load(file_location)

ratesDF = spark.read.format(file_type) \
  .option("inferSchema", infer_schema) \
  .option("header", first_row_is_header) \
  .option("sep", delimiter) \
  .load(file_location2)

responsesDF = responsesDF.fillna({'CompensationAmount':0})
responsesDF = responsesDF.withColumn("Compensation", f.regexp_replace(f.col("CompensationAmount"), "[,]", "").cast(IntegerType()))
responsesDF = responsesDF.drop("CompensationAmount")

display(responsesDF.select("Compensation", "CompensationCurrency", "GenderSelect").describe())

summary,Compensation,CompensationCurrency,GenderSelect
count,16703,4530,16620
mean,832237.6677842304,70787.0,null
stddev,1.7657423860503115E7,41313.42079760523,null
min,-99,100000,A different identity
max,1194000000,ZAR,"Non-binary, genderqueer, or gender non-conforming"

In [0]:
#What is the gender split among the participants by Country
responsesDF.groupby('Country', "GenderSelect").count().show()

+--------------------+--------------------+-----+
|             Country|        GenderSelect|count|
+--------------------+--------------------+-----+
|              Sweden|              Female|    8|
|               Japan|                Male|  254|
|              Norway|              Female|    5|
|           Hong Kong|                Male|   52|
|         Philippines|              Female|   22|
|      United Kingdom|              Female|   88|
|        South Africa|A different identity|    2|
|People 's Republi...|A different identity|    3|
|             Germany|              Female|   61|
|              Sweden|                Male|   81|
|            Pakistan|              Female|   28|
|              Poland|                Male|  160|
|           Argentina|                Male|   79|
|People 's Republi...|              Female|   74|
|             Ireland|                Male|   64|
|              Israel|                Male|   93|
|               Italy|              Female|   27|
|             Ukraine|              Female|   33|
|              France|                Male|  375|
|              Greece|                Male|   66|
+--------------------+--------------------+-----+
only showing top 20 rows

In [0]:
#3. Join the data with the conversion rates to have all the amount entered in the 'Compensation' field in US Dollar
responseUSDF = responsesDF.join(ratesDF, responsesDF.CompensationCurrency == ratesDF.originCountry)
responseUSDF = responseUSDF.withColumn("CompensationAmountUS",responseUSDF["Compensation"]*responseUSDF["exchangeRate"])

responseUSDF.select("CompensationCurrency","Compensation","CompensationAmountUS").show(20)

+--------------------+------------+--------------------+
|CompensationCurrency|Compensation|CompensationAmountUS|
+--------------------+------------+--------------------+
|                 USD|      250000|            250000.0|
|                 AUD|       80000|  64184.799999999996|
|                 RUB|     1200000|             20882.4|
|                 INR|       95000|              1483.9|
|                 TWD|     1100000|             36634.4|
|                 USD|       20000|             20000.0|
|                 USD|      100000|            100000.0|
|                 CZK|       20000|               916.4|
|                 RUB|      624000|           10858.848|
|                 COP|   156000000|             53352.0|
|                 EUR|      150000|            179373.9|
|                 PLN|      126000|           35419.104|
|                 GBP|      130000|           172144.44|
|                 USD|      133000|            133000.0|
|                 USD|       80000|             80000.0|
|                 EUR|       30000|            35874.78|
|                 MXN|      200000|             11282.8|
|                 USD|       15000|             15000.0|
|                 INR|      120000|              1874.4|
|                 EUR|      100000|            119582.6|
+--------------------+------------+--------------------+
only showing top 20 rows

In [0]:
#4. Is there a difference on the average salary among the different gender groups? 
responseUSDF.registerTempTable("responseTbl")

salaryDF = sqlContext.sql("SELECT GenderSelect, ROUND(AVG(CompensationAmountUS), 0) AS AverageSalary , ROUND(PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY CompensationAmountUS),0) AS MedianSalary \
                           FROM responseTbl WHERE GenderSelect IS NOT NULL GROUP BY GenderSelect").display()

# There is a difference among gender groups between average salary, which was higher than the median salary. Males had the highest avgerage salary while a different identity had the highest median salary

/databricks/spark/python/pyspark/sql/dataframe.py:146: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn(

GenderSelect,AverageSalary,MedianSalary
Female,58410.0,47833.0
"Non-binary, genderqueer, or gender non-conforming",62535.0,42000.0
Male,71582.0,51991.0
A different identity,100261.0,58595.0

In [0]:
#5.1 Using the Age and CompensationAmountUS fields, try to determine that type of relationship (if any) exists between Age and CompensationAmountUS
from pyspark.sql.functions import round, mean, desc, asc, floor, avg
import matplotlib.pyplot as plt

responseUSDF.na.drop(subset=["Age"]).groupBy("Age").agg(round(mean("CompensationAmountUS"),0).alias("CompensationAmount")).sort(asc("Age")).display()

#There is a linear correlation between Compensation amount and Age. Compensation tends to increase as age increases

Age,CompensationAmount
0,62580.0
100,null
11,0.0
16,50000.0
18,20500.0
19,14069.0
20,27906.0
21,21809.0
22,24364.0
23,27737.0
24,31049.0
25,44106.0
26,39507.0
27,80768.0
28,47303.0
29,50031.0
30,60616.0
31,76472.0
32,66891.0
33,66154.0
34,74323.0
35,69516.0
36,77445.0
37,93750.0
38,81606.0
39,133364.0
40,105568.0
41,88688.0
42,80207.0
43,95444.0
44,94051.0
45,75186.0
46,100871.0
47,103679.0
48,107126.0
49,101180.0
50,128670.0
51,97575.0
52,91675.0
53,114457.0
54,58430.0
55,109263.0
56,103466.0
57,109310.0
58,86315.0
59,112461.0
60,86666.0
61,134757.0
62,111089.0
63,133683.0
64,111710.0
65,130265.0
66,79571.0
67,89255.0
68,115720.0
69,100000.0
70,91484.0
72,250000.0
73,47833.0
74,112323.0
75,110.0
78,75337.0
99,17937.0
NA,76099.0

In [0]:
#5.2 What is the average salary in US for people in their 20s? And for people in their 50s?

from pyspark.sql import functions as F

age_table = sqlContext.sql("SELECT Age/10 AS Age, CompensationAmountUS FROM responseTbl")
age_table = age_table.withColumn("decade",(floor(age_table["Age"])*10)).groupby('decade').agg(round(F.avg("CompensationAmountUS"),0).alias('AverageCompensation')).sort(asc("decade")).display()

#Average salary for people in their 20s: $45,773
#                                   50s: $105,253

decade,AverageCompensation
null,76099.0
0,62580.0
10,17927.0
20,45773.0
30,76156.0
40,94769.0
50,105253.0
60,110523.0
70,95510.0
90,17937.0
100,null

In [0]:
#6. What is the job with the highest compensation?
salaryByJobDF = responseUSDF.na.drop(subset=["CurrentJobTitleSelect"]).groupBy("CurrentJobTitleSelect").\
    agg(round(F.percentile_approx("CompensationAmountUS", 0.5),0).alias("MedianCompensation"),\
        round(avg('CompensationAmountUS'), 0).alias('AverageCompensation')).sort(desc("AverageCompensationCurrentJobTitleSelectAverageCompensation")).display()

#Operations Research Practitioner had both the highest and median compensation

CurrentJobTitleSelect,MedianCompensation,AverageCompensation
Operations Research Practitioner,98843.0,151626.0
Other,65000.0,90192.0
Software Developer/Software Engineer,52968.0,86688.0
Data Scientist,68850.0,78466.0
Statistician,46000.0,77661.0
Predictive Modeler,65000.0,73884.0
Business Analyst,41595.0,70008.0
Machine Learning Engineer,41765.0,61575.0
Engineer,50000.0,60933.0
Scientist/Researcher,43050.0,59442.0
DBA/Database Engineer,53812.0,57969.0
Researcher,31876.0,52341.0
Data Analyst,40658.0,51779.0
Data Miner,31240.0,50764.0
Computer Scientist,23917.0,47029.0
Programmer,23613.0,37117.0

In [0]:
#7. What is the country with the highest compensation?

responseUSDF.groupBy("Country").\
    agg(round(F.percentile_approx("CompensationAmountUS", 0.5),0).alias("MedianCompensation"), \
        round(avg('CompensationAmountUS'),0).alias('AverageCompensation')).sort(desc("MedianCompensation")).display()

#United States had the highest median compensation, but the People's Republic of China had the highest average compensation

Country,MedianCompensation,AverageCompensation
United States,105000.0,117275.0
Switzerland,104338.0,104291.0
Australia,88254.0,96933.0
Norway,86064.0,88413.0
Denmark,80365.0,73841.0
Israel,74705.0,81121.0
Netherlands,71750.0,77424.0
Germany,71750.0,71866.0
Canada,68367.0,73336.0
United Kingdom,66209.0,90578.0
Sweden,65607.0,68887.0
Japan,63756.0,56685.0
Ireland,61585.0,73883.0
New Zealand,58224.0,75247.0
Singapore,58145.0,72833.0
Belgium,57400.0,63158.0
France,53812.0,55791.0
Finland,47833.0,52575.0
South Africa,46201.0,47905.0
Italy,41854.0,51856.0
Spain,41854.0,46814.0
Hong Kong,36863.0,46234.0
Republic of China,36720.0,46905.0
South Korea,35440.0,39086.0
null,32825.0,67619.0
Argentina,31910.0,33777.0
Romania,31091.0,38561.0
Taiwan,30000.0,52251.0
Greece,29896.0,41959.0
Brazil,28922.0,65265.0
Chile,28908.0,33475.0
Portugal,28700.0,30616.0
People 's Republic of China,27540.0,159278.0
Czech Republic,24743.0,32721.0
Malaysia,24254.0,25893.0
Poland,23613.0,25371.0
Other,21525.0,54792.0
Colombia,18468.0,27311.0
Ukraine,18000.0,32132.0
Mexico,16924.0,24702.0
Turkey,16631.0,21864.0
Russia,14792.0,23780.0
India,10934.0,19607.0
Belarus,10800.0,18860.0
Philippines,10467.0,12101.0
Hungary,10324.0,13871.0
Iran,7200.0,12178.0
Vietnam,6336.0,16340.0
Pakistan,6000.0,9759.0
Kenya,5836.0,12097.0
Indonesia,5016.0,8546.0
Egypt,4000.0,6324.0
Nigeria,1115.0,14283.0